* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

label {
    cursor: pointer;
}

input {
    width: 100%;
    padding: 6.5px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.checkbox-label {
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #bbb;
    border-radius: 4px;
    input:checked ~ 
    &__icon {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 5px;
        height: 10px;
        border-bottom: 1px solid #666;
        border-right: 1px solid #666;
        transform: translate(-50%, -50%) rotate(45deg);
    }
}

button {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: transparent;
    cursor: pointer;
}

ul,
li {
    list-style: none;
}

.app {
    width: 96%;
    max-width: 500px;
    margin: 30px auto;
}

.hidden {
    position: absolute;
    top: 0;
    left: 0;
    clip: rect(0px 0px 0px 0px);
}
