.todo {
    &-create {
        display: flex;
        padding: 30px 25px;
        border: 1px solid #efefef;
        border-radius: 8px;
        background-color: #f6f6f6;
        &__button {
            width: 100px;
            margin-left: 10px;
            background-color: #fff;
        }
    }

    &-label {
        width: 100%;
        &__title {
            display: block;
            margin-bottom: 5px;
        }
    }
    &-list {
        margin-top: 20px;
        padding: 25px;
        border: 1px solid #e9e9e9;
        border-radius: 8px;
        &__item {
            display: flex;
            align-items: center;
            & + & {
                margin-top: 10px;
                padding-top: 10px;
                border-top: 1px solid #e9e9e9;
            }
        }
        &__text {
            flex: 1;
        }
        &__button {
            width: 50px;
            margin-left: 10px;
            color: #fff;
            &--positive {
                background-color: #1886f3;
                border-color: #1886f3;
            }
            &--negative {
                background-color: #e5092e;
                border-color: #e5092e;
            }
        }
    }
    
    &-modify {
        display: flex;
        flex: 1;
        &__label {
            flex: 1;
        }
        &__button {
            margin-left: 5px;
            font-weight: 500;
            &--positive {
                color: #1886f3;
                border-color: #1886f3;
            }
            &--negative {
                color: #e5092e;
                border-color: #e5092e;
            }
        }
    }
}
